# Git
.git
.github
.gitignore
.gitattributes

# Docker
docker-compose.yml
**/Dockerfile
.docker
.dockerignore

# Meta
README.md
LICENSE
changelog.json

# Ansible
ansible.cfg
vault.yaml
inventories
playbooks
roles